.background-image-editor {
  width: 100%;
  height: 100dvh;
  overflow: auto;
  background-color: #ecf1f4;
  margin: 0px auto 0px auto;
  padding: 30px 5px 5px 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;

  h1 {
    color: #f76e6e;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    font-size: 32px;
    word-spacing: -5px;
    margin-bottom: 5px;
  }

  > p {
    font-size: 17px;
    line-height: 1;
    color: #f76e6e;
    text-align: center;
  }

  .content-wrapper {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .avatar-editor-options {
      width: 100%;
      height: auto;
      background-color: transparent;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;

      button {
        width: 38px;
        height: 38px;
        border-radius: 100%;
        margin: 0px 4px 0px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        padding: 0px;

        i {
          font-size: 18px;
        }
      }
    }

    .avatar-editor-wrapper {
      width: 100%;
      height: auto;
      background-color: transparent;
      aspect-ratio: 16/9;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      flex-shrink: 0;

      canvas {
        animation: canvasInitialAnimate 5000ms forwards 500ms;
        background-color: transparent;

        @keyframes canvasInitialAnimate {
          20% {
            transform: scale(2);
          }

          40% {
            transform: scale(2) translateY(40px);
          }

          60% {
            transform: scale(2) translateY(40px) translateX(25px);
          }

          60% {
            transform: scale(2) translateY(40px) translateX(25px);
          }

          90% {
            transform: scale(2) translateY(40px) translateX(25px);
          }

          100% {
            transform: scale(1) translateY(0px) translateX(0px);
          }
        }
      }
    }

    button {
      margin-top: 50px;
    }
  }
}

.background-image-editor.animationIn {
  animation: background-image-animationIn 500ms forwards;

  @keyframes background-image-animationIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

.background-image-editor.animationOut {
  animation: background-image-animationOut 500ms forwards;

  @keyframes background-image-animationOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
