.loading {
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100000000000000000;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.loading.hiding {
  opacity: 1;

  animation: hiding-loading 500ms forwards;

  @keyframes hiding-loading {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

.loading.apearing {
  opacity: 0;
  animation: apearing-loading 500ms forwards;

  @keyframes apearing-loading {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
